.mt\:,
.my\:,
.m\: {
    &1 {
        margin-top: .25rem;
    }
}

.mr\:,
.mx\:,
.m\: {
    &1 {
        margin-right: .25rem;
    }
}

.mb\:,
.my\:,
.m\: {
    &1 {
        margin-bottom: .25rem;
    }
}

.ml\:,
.mx\:,
.m\: {
    &1 {
        margin-left: .25rem;
    }
}